<div id="profheader">
	<h1><%= @user.username.capitalize %></h1>
		<ul id="prolinks">
				<li><%= link_to @user.youtube do %>
    <%= image_tag 'youtube.png', width: 50, height: 50%>
<% end %></li>
				<li><%= link_to @user.facebook do %>
    <%= image_tag 'facebook.png', width: 50, height: 50%>
<% end %></li>
				<li><%= link_to @user.twitter do %>
    <%= image_tag 'twitter.png', width: 50, height: 50%>
<% end %></li>
				<li><%= link_to @user.instagram do %>
    <%= image_tag 'instagram.jpg', width: 50, height: 50%>
<% end %></li>
	</ul>
</div>
</br>
<div id="profinfo">
	<h3>About</h3>
  <hr> <br>
		<p><%= @user.about %></p>
</div>

<div id="profuploads">
	<h3>Uploads</h3>
      <div id="posts" class="transitions-enabled">
<% @user_posts.each do |post| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(post.image.url(:medium)), post %>
      <div class="panel-body">
      <strong><%= post.user.username if post.user %></strong><br/>
        <%= post.description %><br/>
        <% if post.user == current_user %>
          <div class="actions">
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
		</div>
	
