<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @post.image.url, height: '300' %>
      </div>
      <div class="panel-body">
        
        <p><strong><%= @post.user.username if @post.user %></strong></p>
        <p><%= @post.description %></p>
        <% if @post.user == current_user %>
         <%= link_to 'Edit', edit_post_path(@post) %>
        <% end %>

      </div>
    </div>
  </div>
</div>
<%= link_to  posts_path do %>
<span class="glyphicon glyphicon-arrow-left"></span>
<% end %>