  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @post.image.url(:medium) %>
      </div>
      <div class="panel-body">
        
        <p><strong><%= link_to(@post.user.username.capitalize, user_path(@post.user.id)) if @post.user %></strong></p>
        <p><%= @post.description %></p>
        
        <div class="votes">
          <strong>VIEWS</strong>
        <%= @post.hits %>
          <div class="votes">
          <%= link_to like_post_path(@post), class: "like", method: :put do%>
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge"><%= @post.get_upvotes.size %></span>
              </button>
              <%end%>

              <%= link_to dislike_post_path(@post), class: "like", method: :put do%>
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
              <span class="badge"><%= @post.get_downvotes.size %></span>
              </button>
              <%end%>
              </div>
        <% if @post.user == current_user %>
         <%= link_to 'Edit', edit_post_path(@post) %>
        <% end %>

      </div>
    </div>
  </div>
</div>
<%= link_to  posts_path do %>
<span class="glyphicon glyphicon-arrow-left"></span>
<% end %>
